{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="row">
	<div class="row"><h1>Recipe Transformer</h1></div>
	
	<form action="." method="POST">
		<div class="row">
			<h3>Convert</h3>
			<input type="text" class="form-control" name="recipe_url" placeholder="Submit Recipe Url">
		</div>

		<div class="row">
			<h3>To</h3>
			<p>(Choose ONE option below)</p>
			<div class="col-lg-4">
				<h4>Diet Transformations</h4>
				<input type="radio" name="diet_transform" value="0"> Pescatarian <br>
				<input type="radio" name="diet_transform" value="1"> Vegetarian <br>
				<input type="radio" name="diet_transform" value="2"> Vegan <br>
				<input type="radio" name="diet_transform" value="3"> Lactose Free <br>
			</div>
			<div class="col-lg-4">
				<h4>Health Transformations</h4>
				<input type="radio" name="health_transform" value="0"> Low Calorie <br>
				<input type="radio" name="health_transform" value="1"> Low Fat <br>
				<input type="radio" name="health_transform" value="2"> Low Sodium <br>
				<input type="radio" name="health_transform" value="3"> Low Carbohydrate <br>
			</div>
		<!-- 	<div class="col-lg-4">
				<h4>Cuisine Transformations</h4>
				<input type="radio" name="cuisine_transform" value="0"> Chinese <br>
				<input type="radio" name="cuisine_transform" value="1"> Mexican <br>
			</div> -->
		</div>
		<br>
		<div class="row">
			<input type="submit" class="btn btn-default pull-right" name="home" value="Submit">	
		</div>
	</form>
</div>

{% endblock %}
