{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="row col-lg-12">
	<h1>Recipe Transformer</h1>
	<h3>Recipe URL: <a href="{{ context.recipe_url }}">{{ context.recipe_url }}</a></h3>
</div>
<div class="row col-lg-6">
	<h3 class="text-center">Original Recipe</h3>
	<h4 class="text-center">{{ context.recipe_name }}</h4>
	<p class="col-lg-4 text-center">Prep Time: {{ context.prep_time }} minutes</p>
	<p class="col-lg-4 text-center">Cook Time: {{ context.cook_time }} minutes</p>
	<p class="col-lg-4 text-center">Total Time: {{ context.total_time }} minutes</p>

	<h4 class="text-center"><a data-toggle="collapse" data-target="#tool-list" style="color:#333">Tools Needed</a></h4>
	<div class="col-lg-12 collapse" id="tool-list">
		<ul>
			{% for tool in context.tools %}
				<li>{{ tool }}</li>
			{% endfor %}	
		</ul>
	</div>
	
	<h4 class="text-center">Ingredients</h4>
	<div class="col-lg-12">
	{% for ingr in context.ingredients %}
		{% if ingr.descriptor != '' and ingr.preparation != '' and ingr.prep_descriptor != '' %}
		<p>{{ ingr.descriptor }} {{ ingr.name }} - {{ ingr.quantity }} {{ ingr.measurement }} ({{ ingr.prep_descriptor }} {{ ingr.preparation }})
		</p>
		{% elif ingr.descriptor != '' and ingr.preparation != '' %}
		<p>{{ ingr.descriptor }} {{ ingr.name }} - {{ ingr.quantity }} {{ ingr.measurement }} ({{ ingr.preparation }})</p>
		{% elif ingr.preparation != '' %}
		<p>{{ ingr.descriptor }} {{ ingr.name }} - {{ ingr.quantity }} {{ ingr.measurement }} ({{ ingr.preparation }})</p>
		{% elif ingr.preparation != '' and ingr.prep_descriptor != '' %}
		<p>{{ ingr.name }} - {{ ingr.quantity }} {{ ingr.measurement }} ({{ ingr.prep_descriptor }} {{ ingr.preparation }})
		</p>
		{% elif ingr.descriptor != ''%}
		<p>{{ ingr.descriptor }} {{ ingr.name }} - {{ ingr.quantity }} {{ ingr.measurement }}</p>
		{% else %}
		<p>{{ ingr.name }} - {{ ingr.quantity }} {{ ingr.measurement }}
		</p>
		{% endif %}
	{% endfor %}
	</div>

	<h4 class="text-center"><a data-toggle="collapse" data-target="#method-list" style="color:#333">Methods</a></h4>
	<div class="col-lg-12 collapse" id="method-list">
		<p>Primary Method: {{ context.primary_method }}</p>
		<p>Additional Methods: </p>
		<ul>
		{% for method in context.methods %}
			<li>{{ method }}</li>
		{% endfor %}
		</ul>
	</div>

	<h4 class="text-center">Instructions</h4>
	<div class="lg-col-12">
		<ol>
		{% for i in range(0, context.instructions|length) %}
			<li>
				<a data-toggle="collapse" data-target="#instruct-step{{i}}" style="color:#333">{{ context.instructions[i].text }}</a>
				<div class="collapse" id="instruct-step{{i}}">
					{% if context.instructions[i].tools != '' %}
					<p>Step Tools: {{ context.instructions[i].tools }}</p>
					{% endif %}
					{% if context.instructions[i].methods != '' %}
					<p>Step Methods: {{ context.instructions[i].methods }}</p>
					{% endif %}
					{% if context.instructions[i].time != '' %}
					<p>Step Time: {{ context.instructions[i].time }} minutes</p>
					{% endif %}
				</div>
			</li>
		{% endfor %}
		</ol>
	</div>

</div>
<div class="row col-lg-6">
	<h3 class="text-center">Transformed Recipe</h3>
	<h4 class="text-center">{{ context.recipe_name }} - {{ context.diet }}</h4>
	<p class="col-lg-4 text-center">Prep Time: {{ context.prep_time }} minutes</p>
	<p class="col-lg-4 text-center">Cook Time: {{ context.cook_time }} minutes</p>
	<p class="col-lg-4 text-center">Total Time: {{ context.total_time }} minutes</p>

	<h4 class="text-center"><a data-toggle="collapse" data-target="#tool-list1" style="color:#333">Tools Needed</a></h4>
	<div class="col-lg-12 collapse" id="tool-list1">
		<ul>
			{% for tool in context.tools %}
				<li>{{ tool }}</li>
			{% endfor %}	
		</ul>
	</div>
	
	<h4 class="text-center">Ingredients</h4>
	<div class="col-lg-12">
	{% for i in range(0, context.ingredients|length) %}
		{% if context.ingredients[i].preparation != '' and context.ingredients[i].prep_descriptor != '' %}
		<p>{{ context.transformed_recipe[i] }} - {{ context.ingredients[i].quantity }} {{ context.ingredients[i].measurement }} ({{ context.ingredients[i].prep_descriptor }} {{ context.ingredients[i].preparation }})
		</p>
		{% elif context.ingredients[i].preparation != '' %}
		<p>{{ context.transformed_recipe[i] }} - {{ context.ingredients[i].quantity }} {{ context.ingredients[i].measurement }} ({{ context.ingredients[i].preparation }})</p>
		{% elif context.ingredients[i].preparation != '' and context.ingredients[i].prep_descriptor != '' %}
		<p>{{ context.transformed_recipe[i] }} - {{ context.ingredients[i].quantity }} {{ context.ingredients[i].measurement }} ({{ context.ingredients[i].prep_descriptor }} {{ context.ingredients[i].preparation }})
		</p>
		{% else %}
		<p>{{ context.transformed_recipe[i] }} - {{ context.ingredients[i].quantity }} {{ context.ingredients[i].measurement }}
		</p>
		{% endif %}
	{% endfor %}
	</div>

	<h4 class="text-center"><a data-toggle="collapse" data-target="#method-list1" style="color:#333">Methods</a></h4>
	<div class="col-lg-12 collapse" id="method-list1">
		<p>Primary Method: {{ context.primary_method }}</p>
		<p>Additional Methods: </p>
		<ul>
		{% for method in context.methods %}
			<li>{{ method }}</li>
		{% endfor %}
		</ul>
	</div>

	<h4 class="text-center">Instructions</h4>
	<div class="lg-col-12">
		<ol>
		{% for i in range(0, context.instructions|length) %}
			<li>
				<a data-toggle="collapse" data-target="#instruct-step1{{i}}" style="color:#333">{{ context.instructions[i].text }}</a>
				<div class="collapse" id="instruct-step1{{i}}">
					{% if context.instructions[i].tools != '' %}
					<p>Step Tools: {{ context.instructions[i].tools }}</p>
					{% endif %}
					{% if context.instructions[i].methods != '' %}
					<p>Step Methods: {{ context.instructions[i].methods }}</p>
					{% endif %}
					{% if context.instructions[i].time != '' %}
					<p>Step Time: {{ context.instructions[i].time }} minutes</p>
					{% endif %}
				</div>
			</li>
		{% endfor %}
		</ol>
	</div>
</div>

{% endblock %}